body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150 ,163), rgb(48, 62, 143) );
    font-family:'sans-serif', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;

}
.animation{
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    
}

.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
.rain{
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background:transparent;
    animation: rainfall 3s linear ;
}
    
.snowy{
    position: relative;
    top: 0;
    animation: snowy-animation 3s linear forwards;
}

    
}

.clear-animation{
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background:content-box radial-gradient(rgb(201, 49, 2), rgb(195, 238, 6) );
    animation: clear-animation 3s ease-in-out infinite;
    
}
    
.rain-animation{
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background:transparent;
    animation: rainfall 3s linear ;
    
}

.snowy-animation{
    height: 30vh;
    width: 30vh;
    display: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background:transparent;
    animation: rainfall 3s linear ;
    
}
@keyframes snowy-animation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
@keyframes rainfall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
@keyframes rain-animation {
    0%{
        background-position: 0 0; 
        opacity: 1;   
    }
    100%{
        background-position: 8% 80%;
        ocacity: 1;
    }
}

@keyframes clear-animation {
    50%{
        box-shadow: 0 0 40px #ffdd50;
    }
}

