body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150 ,163), rgb(48, 62, 143) );
    font-family:'sans-serif', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;

}

.clear{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
.rain{
    position: fixed;
    top: 0;
    animation: rainfall 10ms linear forwards;
}
    

    
}

#sun-animation{
    height: 30vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background:content-box radial-gradient(rgb(201, 49, 2), rgb(195, 238, 6) );
    animation: clear-animation 3s ease-in-out infinite;
    
}
    
#rain-animation{
    height: 30vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background:black;
    animation: rain-animation 0.4s linear infinite;
}
@keyframes rainfall{
    to{ transform: translateY(-105vh); }
} 

@keyframes rain-animation {
    0%{
        background-position: 0 0; 
        opacity: 1;   
    }
    100%{
        background-position: 8% 80%;
        ocacity: 1;
    }
}

@keyframes clear-animation {
    50%{
        box-shadow: 0 0 40px #ffdd50;
    }
}